{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}

    <br>
    <br>
    <br>
    <br>

    <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="modal-content">
            <div class="modal-body px-0 py-2 py-sm-0">
                <div class="row mx-0 align-items-center">
                    <div class="col-md-6 border-end-md p-4 p-sm-5">
                        <h2 class="h3 mb-4 mb-sm-5">Connectez-vous a notre plateforme</h2>
                        <img class="d-block mx-auto" src="img/signin-modal/signin.svg" width="344" alt="Illustartion">
                        <div class="mt-4 mt-sm-5">Vous avez pas encore ?
                            <a href="{{ path('register') }}">Inscrivez-vous</a>
                        </div>
                    </div>
                    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">

                        <form class="needs-validation" method="post" novalidate>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="mb-4">
                                <label class="form-label mb-2" for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control" autocomplete="email" required autofocus>

                            </div>
                            <div class="mb-4">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label  class="form-label mb-0" for="inputPassword">Mot de passe </label>
                                    <a class="fs-sm" href="#">Mot de passe oublié ?</a>
                                </div>
                                <div class="password-toggle">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="*************" autocomplete="current-password" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox">
                                        <span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Se connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
